/* Fondo general */
.container {
  background-image: linear-gradient(#051327, #000);
  inset: 0;
  position: fixed;
  overflow: hidden; /* Asegura que las estrellas no se desborden */
}

/* Estrellas */
.space {
  width: var(--size);
  height: var(--size);
  background: white;
  box-shadow: var(--space-layer);
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0.75;
  animation: move var(--duration, 20s) linear infinite;
}

@keyframes move {
  from { transform: translateY(0); }
  to { transform: translateY(-100vh); }
}
